/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: springgreen;
}

#about {
  padding-top: 48px;
}

.navbar {
  background-color: lightgreen;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: seagreen;
}

.footer p {
  line-height: 60px;
  color: white;
}

.footer a {
  color: #efb22e;
  text-decoration: none;
}

.jumbotron {
  background-color: lime;
}
